.card {
  /* display: flex; */
  /* flex-direction: column; */
  padding: 12px 24px;
  margin: 0.4rem;
  /* width: 170px; */
  height: 400px;
  border-radius: 24px;
  border: 1px solid #d3d3d3;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
}

.loginField h2 {
  color: #de781f;
}

.loginField a {
  padding: 12px 24px;
  background-color: transparent;
  border: 2px solid #de781f;
  color: #c56919;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

.loginField .btn {
  background-color: #de781f;
}
